{% extends "accounts/register_clean.html" %}
{% load static %}
{% block title%}Create Virtual Machine{% endblock %}
{% block content %}
<div class="form-container">
    <div onclick="window.history.back()" class="close-icon"></div>
    <h1 class="form-title">Create VM</h1>
    <form method="POST" action="{% url 'create_vm' %}">
        {% csrf_token %}
        <!-- Input fields -->
        <input type="text" class="form-input" name="name" placeholder="Name" required>
        <input type="number" class="form-input" name="disk_size" placeholder="Disk size (MB) - max 2048" required>
        <!-- Submit button -->
        <button type="submit" class="form-button">Create</button>
    </form>
</div>
{% endblock %}