{% extends "accounts/home_clean.html" %}
{% load static %}
{% block title%}Errors{% endblock %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'vm_management/styles.css' %}" />{% endblock %}
{% block content %}
<div style="margin: 100px;" class="services-first-heading">
    <div style="color: gold; text-align: center;">{{ error }}</div>
</div>
<div style="margin: 0px;" class="services-first-heading">
    <div style="color: #00ffff; text-align: center;"><a href="{% url 'home' %}" style="text-decoration: none;
        color: inherit;
        font-weight: inherit;
        font-size: inherit;">🏠HOME🏠</a></div>
</div>

{% endblock %}